@charset "UTF-8";
/* BodyAbout.css */
.bodyAbout {
  margin: 15px 0 15px 0; }

.volets {
  margin: 10px;
  color: white;
  width: 80%; }
  .volets .title {
    background: #FF6060;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px;
    height: 35px;
    align-items: center; }
  .volets .description {
    color: #FF6060;
    background-color: #F6F6F6;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    opacity: 0;
    visibility: hidden;
    /* Masquer l'élément tout en conservant sa place dans le flux du document */
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    /* Ajouter une transition pour l'opacité et la visibilité */
    height: 0; }
  .volets .description.visible {
    opacity: 1;
    visibility: visible;
    /* Lorsque la classe .visible est appliquée, rendre l'élément visible */
    height: max-content;
    transition: max-height 1s ease-in-out; }

.volet-container {
  display: flex;
  flex-direction: column;
  align-items: center; }

.scroll-down {
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
  transition: transform 0.3s ease; }

.scroll-down.rotated {
  transform: rotate(-180deg); }

@media (max-width: 794px) {
  .bodyAbout {
    margin: initial; }
  .volet-container {
    width: 100%; }
  .volets {
    width: 100%; } }
