/* Carousel.css */
.carousel-container {
  position: relative;
  width: 100%;
  margin: 0 auto; }

.carousel-image {
  width: 100%;
  height: 550px;
  object-fit: cover;
  border-radius: 15px; }

.arrow {
  position: absolute;
  top: 50%;
  font-size: 4em;
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  transition: background-color 0.3s ease; }

.left {
  left: 10px; }

.right {
  right: 10px; }

.slide-number {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1em; }

@media (max-width: 794px) {
  .arrow {
    font-size: inherit; }
  .slide-number {
    display: none; } }
