/* Ajoutez ces styles à votre fichier CSS */



.star-filled {
    color: #ff6060; /* Couleur de l'étoile remplie */
    width: 10%;
  }
  
  .star-empty {
    color: #E3E3E3; /* Couleur de l'étoile vide */
    width: 10%;
  }
  

  .tag {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .tag-item {
    background-color: #ff6060;
    color: white;
    padding: 5px;
    border-radius: 12px;
  }
  .rating-container {
    display: flex;
    justify-content: space-between;
  }

  .info {
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin-bottom: 20px;
  }

.info-loc {
  text-align: inherit;
  p {
    font-size: inherit;
  }
}

.rating-stars{
  justify-content: flex-end;
  display: flex;
  justify-content: space-around;
  font-size:xx-large;
}
  .host {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    p {
      font-size: inherit;
    }  


  }

  .host-profile {
    border-radius: 50%;
    width: 55px;
    height: fit-content;
   
  }

  h3 {
    color: #ff6060;
    
  }

  .host-name {
    width: min-content;
    margin: 20px;
    
  }

  .container .host-rating-container {
    color: $primary-red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (max-width: 794px) {
      
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      height: 60px;
      margin-top: 15px;
    }
  }


  .container {
    display: flex;
    justify-content: space-between;
  
    
  }
  @media (max-width: 794px) {
    .container{
      flex-direction: column;
      
    }
    .rating-stars {
      align-content: center;
      display: block;
      
    }

    .host{
      width: 75%;
      justify-content: end;
      
    }

    
  
    .host-rating-container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      height: 60px;
      margin-top: 15px;
    }
  

    .host-name{
      align-content: center;
    }

    .tags-info-container {
      display: flex;
      flex-direction: column;
      font-size: x-large;
    }

    
  }


