/* Ajoutez ces styles à votre fichier CSS */
.star-filled {
    color: #ff6060; /* Couleur de l'étoile remplie */
    width: 10%;
  }
  
  .star-empty {
    color: #E3E3E3; /* Couleur de l'étoile vide */
    width: 10%;
  }
  

  .tag {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .tag-item {
    background-color: #ff6060;
    color: white;
    padding: 5px;
    border-radius: 12px;
  }
  .rating-container {
    display: flex;
    justify-content: space-between;
  }

  .info {
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin-bottom: 20px;
  }

.info-loc {
  text-align: inherit;
  p {
    font-size: inherit;
  }
}

.rating-stars{
  justify-content: flex-end;
  display: flex;
}
  .host {
    display: flex;
    p {
      font-size: inherit;
    }  


  }

  .host-profile {
    border-radius: 50%;
   
  }

  h3 {
    color: #ff6060;
    
  }

  .host-name {
    width: min-content;
    margin: 30px;
    
  }

  @media (max-width: 794px) {
    .rating-stars {
      align-content: center;
      display: block;
    }

    .host{
      width: 75%;
      justify-content: end;
      
    }

    .host-rating-container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      height: 60px;
      margin-top: 15px;
    }

    .host-name{
      align-content: center;
    }

    .tags-info-container {
      display: flex;
      flex-direction: column;
      font-size: x-large;
    }

    .container{
      flex-direction: column;
    }
  }