.banner {
    
}
.img-banner {
    border-radius: 25px;
    width: 100%;
    height: 150px;
    object-fit: cover;
    filter: brightness(50%);
    
}


.texte {
    position: relative;
    display: flex;
    justify-content: center;
    transform: translate(0%, -190%);
    color: rgba(255, 255, 255, 0.85);
    font-size: 3em;
}


/* texte {
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 3em;
    text-align: center;
   
} */