.banner {
    margin: 15px 30px 15px 30px;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    
}
.img-banner {
    border-radius: 25px;
    width: 100%;
    height: 150px;
    object-fit: cover;
    filter: brightness(50%);
    margin-top: 30px;
    
}


.texte {
    position: relative;
    display: flex;
    justify-content: center;
    transform: translate(0%, -190%);
    color: rgba(255, 255, 255, 0.85);
    font-size: 3em;
}


