/* BodyAbout.css */



.bodyAbout {
  margin: 15px 0 15px 0;
}

.volets {
 
  margin: 10px;
  
  color: white;
  width: 80%;
  .title {
    background: #FF6060;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-radius: 5px ;
    height: 35px;
    align-items: center;
  }
  
  
  
  
  .description {
    color: #FF6060;
    background-color: #F6F6F6;
    padding: 10px;
    display: block;
    border-radius: 0 0 5px 5px;
  }
}

.volet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroll-down {
  cursor: pointer;
  font-size: 18px;
  margin-left: 10px;
  transition: transform 0.3s ease; 
}


.scroll-down.rotated {
  transform: rotate(-180deg);
}

@media (max-width: 794px) {
  .bodyAbout{
    margin: initial;
  }
  .volet-container {
    width: 100%;
  }

  .volets {
    width: 100%;
  }
}