.card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    
    background: linear-gradient(
      #FF6060, 20%, 
      #e05454);
  
    width: 25%;
    border-radius: 10px;

   

    img {
      width: 100%;
      height: 80%;
    }
  }