.logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.nav-link {
    display: flex;
   
    justify-content: space-between;
    width: 135px;
    

}

header {
    margin: 0 30px 0 30px;
}