.logo-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-link {
    display: flex;
    text-decoration-color: #FF6060;
    justify-content: space-between;
    width: 12%;
    text-decoration-color: #9e7370ec;

}
