/* Ajoutez ces styles à votre fichier CSS */
.star-filled {
    color: #ff6060; /* Couleur de l'étoile remplie */
  }
  
  .star-empty {
    color: #E3E3E3; /* Couleur de l'étoile vide */
  }
  

  .tag {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .tag-item {
    background-color: #ff6060;
    color: white;
    padding: 5px;
    border-radius: 12px;
  }
  .rating-container {
    display: flex;
    justify-content: space-between;
  }

  .info {
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin-bottom: 20px;
  }

.info-loc,p{
  text-align: inherit;
}
  .host {
    display: flex;
    


  }

  .host-profile {
    border-radius: 50%;
   
  }

  h3 {
    color: #ff6060;
    
  }

  .host-name {
    width: min-content;
    margin: 30px;
  }